.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0.75rem 0;
  background-color: black;
}

.nav-home {
  margin: 0 5rem;
  padding: 0;
  font-family: 'Sriracha', cursive;
  color: white;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem 0 0;
  width: 10rem;
}
